body{
  background-image: linear-gradient(#CE96FB, #FF8FCF);

  header{
    background-color: black;
    height: 18vh;

    #header{
      display: flex;
      list-style: none;
      justify-content: space-evenly;
      align-items: center;
    }


    #checkout{
      display: flex!important;
      flex-direction: row!important;
      //text-align: center;
    }

  }

.logoPic{
  padding-top: 20px;
}
  ///////////////////////////////////////////
  ///////////////SHOP///////////////////////
  /////////////////////////////////////////
  #shop{
    background: rgba(255, 255, 255, 0.7);
    height: 45vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    box-shadow: 4px 4px 4px;
  }
  #shopHeader{
    text-align: center;
  }
  .shopMenu{
    display: flex;
    justify-content: space-evenly;
  }

  .shop{
    border: black 1px solid;
    border-radius: 7%;
    text-align: center;
    height: 300px;
    width: 200px;

  }
  .shopButton{

  }

  ////////////////SHOP END//////////////////////////

  ///////////////////////////////////////////
  ///////////////FOR SALE///////////////////
  /////////////////////////////////////////

  #onSale{
    margin-top: 10vh;
    margin-bottom: 10vh;
  }


  ////////////////FOR SALE END//////////////////////////

  ///////////////////////////////////////////
  ///////////////FOOTER/////////////////////
  /////////////////////////////////////////
  footer{
    background-color: black;
    height: 40vh;
  }
  #banner{
    display: flex;
  }
  #ban1{
    width: 50vw;
  }
  #ban2{
    width: 50vw;
  }
  #footer{
    padding-top: 30px;
    list-style: none;
    display: flex;
    background-color: black;
    margin-right: 10%;
  }
  #footer li a{
    padding: 30px 30px;
    text-decoration: none;
    font-size: 20px;
  }

  #footer li a:hover{
    color: white;
  }
  .foot{
    font-size: 30px;
  }
}

