body {
    background-image: linear-gradient(#CE96FB, #FF8FCF);
    height: 100vh;
    width: 100vw;
}
.buyNow{
    margin-top: 20%;
    margin-left: 40%;
    color: black;
}
.button{
    margin-left: 8%;
    background-color: #00C2BA;
    color: whitesmoke;
    border-radius: 7%;
    height: 40px;
    width: 80px;
}