body {
  width: 100vw
}
body .logoPic {
  width: 100%;
  height: 100%;
}

#main-banner {
  height: 250px;
  padding: 20px 0;
}
body #shop {
  /*background: rgba(255, 255, 255, 0.7);*/
  height: 200px;
  box-shadow: 4px 4px 4px;
  position: relative;
  z-index: 0;
}
#paisley {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: .5;
  z-index: 1;
}
#shop > .z-index {
  z-index: 15;
  position: relative;
}
#shop-card-wrapper {
  border: 2px solid yellow;
  height: 60%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow-x: scroll;
}
.scroll-item {
  display: flex;
  justify-content: center;
  flex: 1;
  height: 130px !important;
  width: 100px;


}
/*body #shopHeader {*/
/*  text-align: center*/
/*}*/

/*body .shopMenu {*/
/*  display: flex;*/
/*  justify-content: space-evenly*/
/*}*/

/*body .shop {*/
/*  border: black 1px solid;*/
/*  border-radius: 7%;*/
/*  text-align: center;*/
/*  height: 300px;*/
/*  width: 200px*/
/*}*/

body #onSale {
  margin-top: 10vh;
  margin-bottom: 10vh
}

body footer {
  background-color: black;
  height: 40vh
}

body #banner {
  display: flex
}

body #ban1 {
  width: 50vw
}

body #ban2 {
  width: 50vw
}

body #footer {
  padding-top: 30px;
  list-style: none;
  display: flex;
  background-color: black;
  margin-right: 10%
}

body #footer li a {
  padding: 30px 30px;
  text-decoration: none;
  font-size: 20px
}

body #footer li a:hover {
  color: white
}

body .foot {
  font-size: 30px
}